[user]
  name = your name
  email = your email
[alias]
  a = add
  aa = add .
  co = checkout
  cob = checkout -b
  br = branch
  bra = branch -a
  brm = branch -m
  brd = branch -d
  ci = commit
  cim = commit -m
  ps = push
  pl = pull
  st = status
  sh = stash
  shp = stash pop
  frs = update-ref -d HEAD
  rs = reset
  rss = reset --soft HEAD^
  rsm = reset --mixed HEAD^
  rsh = reset --hard HEAD^
  unstage = reset HEAD --
  unchange = checkout HEAD --
  last = log -1 HEAD --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short --decorate
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short --decorate
  cgl = config --global  --list
  cgun = config --global user.name
  cgue = config --global user.email
  clun = config --local user.name
  clue = config --local user.email
  ig   = rm -r --cached
[init]
  defaultBranch = main
[core]
  autocrlf = false
  safecrlf = true
